input {
  -webkit-appearance: none;

  background-color:#ff0000;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: #ff6666 0px 2px 30px;
  outline: none;
  box-sizing: border-box;
}