body {
  margin: 0;
  font-family: "Roboto Mono Regular";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

// import fonts
@import "fonts.scss"
