// import fonts
@import "fonts.scss";

body,
html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --theme-primary: #FF0000;
  --theme-secondary: #1f1f1f;
  --theme-tertiary: #09d3ac;

  --theme-dark-background: #1f1f1f;
  --theme-dark-text-primary: #fff;
  --theme-dark-text-secondary: #aaaaaa;


  --theme-light-background: #fff;
  --theme-light-text-primary: #282828;

  --heart-size: 1rem;
}

.color--theme-primary {
  color: var(--theme-primary);
}
.color--theme-secondary {
  color: var(--theme-secondary);
}
.color--theme-tertiary {
  color: var(--theme-tertiary);
}

.app {
  height: 100vh;
  text-align: center;
  transition: 0.3s ease background-color;

  &.app-dark {
    --primary: var(--theme-secondary);
    --secondary: var(--theme-primary);
    --tertiary: var(--theme-tertiary);
  
    background: var(--theme-dark-background);
    color: var(--theme-dark-text-primary);
  
    .hide--on-dark {
      display: none;
    }
  
    .toggleLightMode {
      color: var(--theme-dark-text-secondary);
  
      &:hover {
        color: var(--theme-dark-text-primary);
      }
    }
  }

  .toggleLightMode {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease color;
    transform: rotate(180deg);

    i {
      font-size: 2rem;
    }

    @media (max-width: 720px) {
      display: none;
    }
  }

  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    header {
      font-size: calc(10px + 2vmin);
  
      .logo {
        max-width: 10rem;
        max-height: 10rem;
      }

      @media (max-width: 720px) {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4rem;

        img {
          width: 2.5rem;
          height: 2.5rem;
        }

        p {
          display: none;
        }
      }
    }

    @media (max-width: 720px) {
    }
  }
}
